.bg-layout {
  width: 100vw;
  content: '';
  position: fixed;
  top: 0;
  bottom: 0;
  background-size: cover;
  filter: blur(90px);
  z-index: -1;
  // background-repeat: repeat;
  background-attachment: fixed;
}

.rotate {
  animation: rotate 30s linear infinite;
  background-size: 100vh;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
